<%- include ../header.ejs %>
<div class="container">            
    <div class="box1 col-xs-7">
        <div class="col-xs-12 box-title">
            <div class="col-xs-12">
                <h3>Obrigado por se cadastrar!</h3>
                <p>Um email foi enviado com um link para confirmação do cadastro!</p>
            </div>
        </div>                
    </div>
</div>
<%- include ../footer.ejs %>