<form action="/painel/alterar-senha" id="edit-senha-usuario" method="POST">      
    <div class="col-xs-12">
        <div class="form-group">
            <label for="nm_senha_usuario">Nova Senha:</label>
            <input type="password" name="nm_senha_usuario" id="nm_senha_usuario" class="form-control" tabindex="3" />                                
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="nm_senha_usuario_confirma">Confirmar Senha:</label>
            <input type="password" name="nm_senha_usuario_confirma" id="nm_senha_usuario_confirma" class="form-control" tabindex="4" />
        </div>
    </div>    
    <div class="col-xs-12">
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" >Alterar Senha</button>
    </div>
</form>