<%- include ../header.ejs %>

<div class="container container-apoiador">                
    <div class="row">
		<%- include menu-causa.ejs %>		
		<div class="col-sm-5 col-md-7 col-xs-7">  
			<div class="col-xs-12 box-title">                
                <h3>Alterar Senha</h3>                
            </div>
			<%- include ../alterar-senha.ejs %>
		</div>		
	</div>
</div>
<%- include ../footer.ejs %>