
  <div class="col-sm-5 col-md-3 col-xs-3">    
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="visible-xs navbar-brand">Sidebar menu</span>
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse">
        <ul class="nav navbar-nav" id="sidenav01">
          <li class="active">
            <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
              <h4>
                Minha Conta                              
              </h4>
            </a>            
          </li>          
          <li><a href="/parceiros/editar">Editar Dados</a></li>
          <li><a href="/parceiros/alterar-senha">Alterar Senha</a></li>
          <li><a href="/parceiros/produtos">Produtos</a></li>
          <li><a href="/parceiros/promocoes">Promoções</a></li>     
          <li><a href="/parceiros/promocoes">Histórico de Doações</a></li>     
        </ul>
     </div><!--/.nav-collapse -->
    </div>    
  </div>